body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  url('{{ STATIC_URL }}templates/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  